<iframe name="hidden_iframe" style="display:none;"></iframe>

<section class="max-w-6xl mx-auto p-6 bg-white rounded-xl flex flex-col md:flex-row gap-8 items-start py-20">
  <!-- Texto lateral -->
  <div class="max-w-3xl mx-auto">
    <h2 class="text-2xl font-bold text-[#003d31] mb-4">Receba uma análise de perfil gratuita!</h2>

    <p class="mb-4 font-medium">O que é a Análise de Perfil?</p>

    <p class="mb-4">
      É um diagnóstico gratuito do seu Instagram profissional — feito por quem entende de marca, conteúdo e estratégia.
    </p>

    <p class="mb-4">
      A gente olha o seu perfil com um olhar técnico e humano, e te envia um feedback com:
    </p>

    <ul class="list-disc pl-5 mb-4 text-left">
      <li> Pontos que estão funcionando</li>
      <li> O que pode estar travando sua comunicação</li>
      <li> Sugestões práticas pra melhorar agora</li>
    </ul>

    <p class="mb-4">
      Sem pegadinha, sem cobrança, sem julgamento.
    </p>

    <p>
      A gente acredita que toda marca merece clareza — e esse é o primeiro passo.
    </p>
  </div>

  <!-- Formulário -->
  <div class="md:w-1/2 w-full">

    <form
      action="https://docs.google.com/forms/d/e/1FAIpQLSfuXt4m2i3yFosNOtVkbRs-4uKvRYfYETYdzx9mIiZ6ykmuYg/formResponse"
      method="POST" target="hidden_iframe" (submit)="onFormSubmit()" class="space-y-4">

      <input name="entry.2097961088" placeholder="Seu nome" class="w-full p-3 border rounded" required />
      <input name="entry.383273688" type="email" placeholder="Seu e-mail" class="w-full p-3 border rounded" required />
      <input name="entry.1983984701" placeholder="Nome da empresa" class="w-full p-3 border rounded" required />
      <input name="entry.1023290961" placeholder="Seu telefone" class="w-full p-3 border rounded" required />

      <button type="submit" class="w-full bg-[#003d31] text-white p-3 rounded hover:bg-[#025f4c] transition">
        Enviar
      </button>

      <p *ngIf="enviado" class="text-green-600 text-center mt-2">
        Mensagem enviada com sucesso!
      </p>
    </form>
  </div>

</section>
